.section{
    width: 100%;
    position: relative;
}

.section_content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1240px;
    margin: 84px auto;
}

@media all and (max-width: 1180px){
    .section_content{
        flex-direction: column;
        height: 100%;
    }
}

.section_content.reverse {
    flex-direction: row-reverse;
}

@media all and (max-width: 1180px){
    .section_content.reverse{
        flex-direction: column-reverse;
    }
}

.section_title{
    width: 35%;
    align-self: center;
    margin-left: 15px;
}

@media all and (max-width: 1180px){
    .section_title{
        width: 90%;
        margin-left: 0;
    }
}

.section_title h2{
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: start;
}

.section_title h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    mix-blend-mode: normal;
}

.section_title p{
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    text-align: start;
}

.section_img_container{
    margin: 0 52px;
}

@media all and (max-width: 1180px){
    .section_img_container{
        margin: 52px;
    }
}

.section_img{
    width: 100%;
}

.ractangle_line{
    position: relative;
}

.ractangle_line:after{
    content: '';
    width: 56px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    top: -25px;
    left: 150px;
}