.check_out_block{
    max-width: 350px;
    min-height: 432px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
}

.check_out_block_content{
    padding: 25px;
}

.check_out_block_content p{
    overflow: hidden;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical
}

.check_out_block_content h4{
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
}

.read_more{
    text-decoration: none;
    position: relative;
    color: #458FF6;
    margin-top: 20px;
}

.read_more:after{
    content: '';
    background-image: url("../../img/readme_arrow.png");
    width: 14px;
    height: 9px;
    position: absolute;
    bottom: 4px;
    right: -30px;
}