.test_buttons{
    position: relative;
    padding: 24px;
}

.carousel_left_button{
    height: 17px;
    position: absolute;
    bottom: 0;
    left: 37%;
}

.carousel_right_button{
    height: 17px;
    position: absolute;
    bottom: 0;
    right: 37%;
}

.carousel_img_bg{
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    margin: 0 10px;
}


.carousel_content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 68px 80px 68px;
}

@media all and (max-width: 800px){
    .carousel_content{
        flex-direction: column;
        padding: 20px 64px 40px 64px;
    }
}

@media all and (max-width: 500px){
    .carousel_content{
        flex-direction: column;
        padding: 5px 10px 5px 10px;
    }
}

.carousel_img_block{
    display: flex;
    width: 46%;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 800px){
    .carousel_img_block{
        width: 100%;
    }
}

.carousel_img_block h4{
    font-size: 22px;
    line-height: 48px;
    text-align: start;
    color: #FFFFFF;
    margin: 0;
}

.carousel_img_block p{
    font-size: 18px;
    line-height: 48px;
    text-align: start;
    color: rgba(255, 255, 255, 0.85);
    margin: 0;
}

.carousel_img{
    margin-right: 15px;
    border-radius: 50%;
    width: 133px;
    height: 133px;
}


.carousel_content_block p{
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
}

.carousel_content_block{
    width: 50%;
    padding-left: 70px;
    text-align: start;
}

@media all and (max-width: 800px){
    .carousel_content_block{
        width: 100%;
        padding-left: 30px;
    }
}

@media all and (max-width: 800px){
    .carousel_content_block{
        width: 100%;
        padding-left: 0;
    }
}

.carousel_square_block{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.carousel_active_square{
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: #5B9BF3;
}

.carousel_square{
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: #5B9BF3;
    opacity: 0.3;
}

.carousel_h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
    text-align: center;
}

@media all and (max-width: 800px){
    .carousel_left_button{
        left: 26%;
    }
    .carousel_right_button{
        right: 26%;
    }
}