.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
}

.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1247px;
}

.navbar a{
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
    text-decoration: none;
}

.navbar li:first-child{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
}

.menuLink{
    margin-right: 20px;
}