.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
}

.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.navbar a{
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
}

.navbar a:first-child{
    font-weight: bold;
    opacity: 1;
}

.menuLink{
    margin-right: 40px;
}