.footer{
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    padding: 124px 0 114px 0;
    margin-top: 202px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer_content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: 1240px;
}

.footer_content_block{
    display: flex;
    flex-direction: column;
    width: 17%;
}

.footer_logo_block{
    width: 30%;
    margin: 0 auto;
}

.footer_logo_block p {
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    text-decoration: none;
    text-align: start;
}

.footer_content_block p{
    font-size: 20px;
    line-height: 60px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    text-align: start;
}

.footer_content_block a{
    font-size: 18px;
    line-height: 38px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: start;
}

.footer_logo_name{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.footer_logo{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    color: #5B9BF3;
}

.footer_logo span{
    padding: 0 12px;
}

@media  (max-width: 900px) {
    .footer{
        padding: 15px;
    }
}

@media  (max-width: 900px) {
    .footer_content{
        flex-direction: column;
    }
}

@media  (max-width: 900px) {
    .footer_logo_block{
        width: 100%;
    }
}



